version: 2.1

jobs:
  build:
    docker:
      - image: 'circleci/python:buster'
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Setup
          command: |
            git submodule update --init --recurse
            ./deps/readies/bin/getpy2
            apt-get install -y make
            echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: Build & publish
          command: |
            make build publish X64=1 OSNICK=buster
            make build publish X64=1 OSNICK=centos7
            make build publish X64=1 OSNICK=bionic

workflows:
  version: 2
  build_and_package:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
  weekly:
    triggers:
      - schedule:
          # Run on Sundat 21:17 [M H DoM M DoW]
          cron: "21 17 * * 0"
          filters:
             branches:
               only:
                 - master
    jobs:
      - build
